:global(#root) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.seaBattleApp {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.seaBattleGrid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    position: relative;
}

.canvas {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 0 1px #000;
    background-color: #eee;
    cursor: crosshair;
}

.yoursCanvas {
    cursor: default;
}

.letterCoords {
    display: flex;
    margin-bottom: 5px;
}

.letterCoord {
    width: 30px;
    text-align: center;
}

.numberCoords {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -30px;
}

.numberCoord {
    height: 30px;
    text-align: right;
}

.gridActionBar,
.gridHintBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 15px;
}

.gridActionBar {
    flex-direction: column;
}

.generateBtnLabel,
.startGameBtnLabel {
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
}

.generateBtnLabel {
    border-bottom: 1px solid transparent;
}

.generateBtnLabel:hover {
    border-bottom-color: #000;
}

.startGameBtnLabel {
    border-bottom: 2px solid #000;
}

.loader {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border: 2px solid #eee;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
